page-recovery-password {
  @extend %super-bar;
  .scroll-content {
    margin-top: 70px !important;
  }
  .card-title-page-hidden {
    background-size: 150%;
    background-position: 0%;
  }
  .headerbackground {
    background-color: color($colors, cl-loginsocialview) !important;
    &:after {
      height: 5px !important;
    }
    .toolbar-background {
      background-color: color($colors, cl-loginsocialview);
    }
  }

  .cont-recovery
  {
      padding: 50px 30px;
  }
}
