<!--
  Generated template for the RecoveryPassword page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="efectheader headerbackground">
  <ion-toolbar color="cl-loginsocialview">
    <ion-title>Recover password...</ion-title>
    <ion-buttons end>
      <button ion-button icon-right type="submit" (click)="recoveryPassword(recovery_form.value)" [disabled]="recovery_form.controls['email'].errors && !recovery_form.controls['email'].pattern">
        Send
        <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form class="cont-recovery" [formGroup]="recovery_form" (ngSubmit)="recoveryPassword(recovery_form.value)">
    <p ion-text color="dark">Enters your recovery email</p>
    <ion-list>
      <ion-item>
        <ion-label color="light-text" floating>Email</ion-label>
        <ion-input [(ngModel)]="email" formControlName="email" required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit" [hidden]="true">Next</button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button color="royal" (click)="closeModal()">
        Close
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
