page-login {
  & .shadow-img {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, .12);
  }
  & .bg-grey {
    background: #eeeeee;
  }
  & .personal-header {
    &:after {
      background-image: none !important;
    }
  }
  & .card-title-page {
    width: 100%;
    height: 260px;
    background-image: url("../assets/img/14-88.png");
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 0%;
    position: relative;
    transition: all 1s ease;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $cl-loginview;
      opacity: 0;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
    }
    & p.card-title {
      position: absolute;
      color: white;
      font-size: 24px;
      left: 10%;
      bottom: 5px;
    }
    & p.card-subtitle {
      position: absolute;
      color: white;
      font-size: 13px;
      left: 10%;
      bottom: -5px;
    }
    & img {
      width: 70px;
      height: 70px;
      position: absolute;
      left: 30px;
      top: 120px;
      z-index: 100;
      border-radius: 50%;
    }
  }
  & .list-login {
    height: 300px;
    padding: 0px 15px 10px 15px;
    box-sizing: border-box;
    margin: 5px 10px 10px 10px;
    background: white;
    & .list-ionic .item {
      padding-left: 0px;
    }
  }
  @extend %super-bar;
  .card-title-page-hidden {
    background-size: 150%;
    background-position: 0%;
    &:before {
      opacity: 1;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
    }
  }
  .headerbackground {
    background-color: color($colors, cl-loginview) !important;
    &:after {
      height: 5px !important;
    }
    .toolbar-background {
      background-color: color($colors, cl-loginview);
    }
  }
  .hiddenEfect {
    -webkit-animation: hiddeTransition 0.1s;
    -o-animation: hiddeTransition 0.1s;
    animation: hiddeTransition 0.1s;
    transform: scale(0);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  @-webkit-keyframes hiddeTransition {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  .scaleEfect {
    -webkit-animation: scaleTransition 0.1s;
    -o-animation: scaleTransition 0.1s;
    animation: scaleTransition 0.1s;
    transform: scale(1);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  @-webkit-keyframes scaleTransition {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
