<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [class.headerbackground]="showToolbar" class="personal-header efectheader">
  <ion-navbar color="cl-loginview">
    <ion-buttons end>
      <button *ngIf="enterPassword" (click)="closeEnterPassword()" color="light" clear ion-button>
        no eres tu?
    </button>
    </ion-buttons>
    <ion-title [class.hiddenEfect]="!showToolbar" [class.scaleEfect]="showToolbar" [hidden]="!showToolbar">{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false" class="light" (ionScroll)="onScroll($event)">

  <div class="card-title-page" [class.card-title-page-hidden]="showToolbar">
    <p *ngIf="enterPassword == false" class="card-title" [class.hiddenEfect]="showToolbar" [class.scaleEfect]="!showToolbar">{{title}}</p>
    <p *ngIf="enterPassword" class="card-title">{{title}}</p>
    <p class="card-subtitle" *ngIf="enterPassword">{{email}}</p>
    <img class="shadow-img" [src]="imageuser" alt="user image" *ngIf="enterPassword">
  </div>
  <form class="list-login" [formGroup]="login_form" (ngSubmit)="loginApp(login_form.value)">
    <ion-list class="list-ionic">

      <ion-item *ngIf="enterPassword == false">
        <ion-label color="light-text" floating>Enter your email</ion-label>
        <ion-input required [(ngModel)]="email" type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
      </ion-item>
      <p ion-text color="danger" *ngIf="!login_form.controls['email'].valid &&  login_form.controls['email'].touched && enterPassword == false">Enter valid email.</p>
      <p ion-text color="secondary" *ngIf="login_form.controls['email'].valid && enterPassword == false">Press next to continue.
        <ion-icon name="md-checkmark-circle"></ion-icon>
      </p>

      <ion-item *ngIf="enterPassword">
        <ion-label color="light-text" floating>Password</ion-label>
        <ion-input [(ngModel)]="password" required type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" *ngIf="!login_form.controls['password'].valid &&  login_form.controls['password'].touched && enterPassword == true">Invalid number of characters.</p>
      <p ion-text color="secondary" *ngIf="login_form.controls['password'].valid && enterPassword == true">Press next to continue.
        <ion-icon name="md-checkmark-circle"></ion-icon>
      </p>
      <button type="submit" [hidden]="true">Next</button>

      <ion-row align-items-center>
        <ion-col no-padding padding-top col-5>
          <a (click)="recoveryPassword()" text-lowercase ion-text color="cl-loginview">
          Forgot password?
          </a>
        </ion-col>

        <ion-col no-padding padding-top col-5 *ngIf="enterPassword == false">
          <a text-lowercase ion-button color="cl-loginview">Or Create acount</a>
        </ion-col>

        <ion-col no-padding padding-top col-12 *ngIf="enterPassword == false">
          <a text-lowercase ion-button block color="cl-loginview" (click)="loginSocialNetwork()">Sign in whit social  network</a>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button (click)="loginApp(login_form.value)" ion-button icon-right color="cl-loginview" *ngIf="enterPassword" type="submit"
        [disabled]="!login_form.valid">
        Next
        <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </button>
      <button ion-button icon-right color="cl-loginview" *ngIf="enterPassword == false" type="button" (click)="viewEnterPassword(login_form.value)"
        [disabled]="login_form.controls['email'].errors && !login_form.controls['email'].pattern">
        Next
        <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
