<!--
  Generated template for the SocialnetworkLogin page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="efectheader headerbackground">
  <ion-toolbar color="cl-loginsocialview">
    <ion-title>Sign in with...</ion-title>
    <ion-buttons end>
      <button ion-button color="royal" (click)="closeModal()">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <button ion-item (click)="loginGoogle()">
      <ion-icon color="cl-google" name="logo-google" item-left></ion-icon>
      Google
    </button>
     <button ion-item (click)="loginFacebook()">
      <ion-icon color="cl-facebook" name="logo-facebook" item-left></ion-icon>
      Facebook
    </button>
  </ion-list>
</ion-content>
