<!--
  Generated template for the DetailServices page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="efectheader headerbackground">
  <ion-navbar color="cl-loginview">
    <ion-title>{{infoservices.name_specialty}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-grey">
  <ion-card class="card-detail">
    <button ion-item *ngIf="infoservices.id_carpenter != null">
      <ion-avatar item-left>
        <img src="{{infoservices.carpenter_path_image}}">
      </ion-avatar>
      <h2 class="bold">{{infoservices.name_carpenter + ' '+ infoservices.lastname_carpenter}}</h2>
    </button>
    <button ion-item *ngIf="infoservices.id_carpenter == null">
      <h2 class="bold">{{infoservices.nameCity}}</h2>
    </button>
    <ion-slides autoplay pager="true">
      <ion-slide *ngIf="infoservices.name_image1 != null" (click)="viewImage(infoservices.name_image1)">
        <img [src]="infoservices.name_image1">
      </ion-slide>
      <ion-slide *ngIf="infoservices.name_image2 != null" (click)="viewImage(infoservices.name_image2)">
        <img [src]="infoservices.name_image2">
      </ion-slide>
      <ion-slide *ngIf="infoservices.name_image3 != null" (click)="viewImage(infoservices.name_image3)">
        <img [src]="infoservices.name_image3">
      </ion-slide>
      <ion-slide *ngIf="infoservices.name_image4 != null" (click)="viewImage(infoservices.name_image4)">
        <img [src]="infoservices.name_image4">
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <h2 ion-text color="icon-menu">{{infoservices.description}}</h2>
      <p color="icon-menu" ion-text>fecha esperada:{{infoservices.expected_date|date:'MMM d, y hh:mm:ss a':'+0000'}}</p>
    </ion-card-content>
    <button ion-item>
      <ion-icon color="primary" name="call" item-left></ion-icon>
      {{infoservices.cellphone}}
    </button>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
        <ion-icon name="contacts"></ion-icon>
        <div>Contactar</div>
      </button>
      </ion-col>
      <ion-col>
        <button (click)="callUser(infoservices.cellphone)" ion-button icon-left clear small>
        <ion-icon name="call"></ion-icon>
        <div>Llamar ahora</div>
      </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{infoservices.created_date|date}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
