page-detail-services {
  @extend %super-bar;
  & .bg-grey {
    background: #eeeeee;
  }
  & .card-detail {
    margin: 0px 0px 5px 0px;
    width: 100%;
  }
  .scroll-content {
    margin-top: 76px !important;
  }
  .card-title-page-hidden {
    background-size: 150%;
    background-position: 0%;
  }
  .headerbackground {
    background-color: color($colors, cl-loginsocialview) !important;
    &:after {
      height: 5px !important;
    }
    .toolbar-background {
      background-color: color($colors, cl-loginsocialview);
    }
  }
  .bold {
    font-weight: bold;
  }
}
