<ion-menu [content]="content">
  <ion-header>
    <div class="menu-avatar-content" style="background-image:url('../assets/img/material-graphite.jpg')">
      <div class="avatar-menu" [style.background-image]="'url('+ user_profile.path_image + ')'"></div>
      <p class="user-name-menu">{{user_profile.name}}</p>
      <p class="user-email-menu">{{user_profile.email}}</p>

    </div>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <div *ngFor="let p of pages">
        <button *ngIf="user_profile.idRole == p.role" menuClose ion-item  (click)="openPage(p)">
        <ion-icon item-left color="icon-menu" name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
      </div>

      <button menuClose ion-item (click)="closeSesion()">
        <ion-icon item-left color="icon-menu" name="exit"></ion-icon>
        Salir
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
