// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.platform-android {
  .ion-page {
    ion-header {
      padding-top: $cordova-md-statusbar-padding;
      background-color: color($colors, custom-navbar);
    }
  }
}

%super-bar {
  .scroll-content {
    margin-top: 0 !important;
  }
  ion-header,
  .toolbar-background {
    background-color: initial !important;
    transition: background-color .6s ease;
    &:after {
      height: 0 !important;
    }
  } // ion-header
  // {
  //   top: -80px;
  //   transition: top .3s ease;
  // }
  .opaque {
    background-color: color($colors, cl-google) !important;
    &:after {
      height: 5px !important;
    }
    .toolbar-background {
      background-color: color($colors, cl-google);
    }
  }
}

.menu-avatar-content {
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  width: 100%;
  position: relative;
  & .avatar-menu {
    background-repeat: no-repeat;
    background-size: cover;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 40px;
  }
  & .user-name-menu,
  & .user-email-menu {
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 20px;
    margin: 0px;
  }
  & .user-email-menu {
    bottom: 10px;
    font-weight: 100;
    font-size: 13px;
  }
}

