<!--
  Generated template for the ServicesClient page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [class.opaque]="showToolbar">
  <ion-navbar color="custom-navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [class.hiddenEfect]="!showToolbar" [class.scaleEfect]="showToolbar" [hidden]="!showToolbar">{{titlepage}}</ion-title>
    <ion-buttons end>
      <button only-icon ion-button [class.hiddenEfect]="!showToolbar" [class.scaleEfect]="showToolbar">
      <ion-icon name="add"></ion-icon>
    </button>
      <button only-icon (click)="getServicesClient()" ion-button [class.hiddenEfect]="!showToolbar" [class.scaleEfect]="showToolbar">
      <ion-icon name="refresh"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey" (ionScroll)="onScroll($event)">
  <div class="card-title-page" [class.card-title-page-hidden]="showToolbar">
    <p class="card-title" [class.hiddenEfect]="showToolbar" [class.scaleEfect]="!showToolbar">{{titlepage}}</p>
  </div>


  <ion-card class="card-services" [@shrinkOut]="'in'" (click)="viewDetail(pos)" *ngFor='let item of services_data;let pos = index'>
    <button ion-item *ngIf="item.id_carpenter != null">
      <ion-avatar item-left>
        <img src="{{item.carpenter_path_image}}">
      </ion-avatar>
      <h2>{{item.name_carpenter}}</h2>
      <p>{{item.lastname_carpenter}}</p>
    </button>

    <ion-card-header>
      <h1 class="title-card">{{item.name_specialty}}</h1>
      <h2>{{item.nameCity}}</h2>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.created_date|date:'MMM d, y hh:mm:ss a':'+0000'}}</p>
    </ion-card-content>

    <ion-row align-items-center>


      <ion-col center text-start col-8>
        <ion-note *ngIf="item.status == 1">
          El trabajo se encuentra asignado
        </ion-note>
        <ion-note *ngIf="item.status == 3">
          El trabajo ha sido terminado
        </ion-note>
        <ion-note *ngIf="item.status == 4">
          El trabajo ha sido finalizado
        </ion-note>
        <ion-note *ngIf="item.id_carpenter == null">
          En espera de asignación
        </ion-note>

      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small>
        <ion-icon name="settings"></ion-icon>
        <div>opciones</div>
      </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-grid [hidden]="services_data.length != 0" style="padding-top:20%;padding-bottom:30%">
    <ion-row align-items-center justify-content-center>
      <ion-col col-12>
        <p ion-text text-center>No se han enontrado solicitudes</p>
      </ion-col>
      <ion-col col-auto>
        <button ion-button color="light" (click)="getServicesClient()">Retry</button>
        <button ion-button color="cl-google">Crear solicitud</button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab right bottom #fab [class.hiddenEfect]="showToolbar" [class.scaleEfect]="!showToolbar">
    <button ion-fab color="cl-google"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button color="danger" ion-fab (click)="closeFab(fab)"><ion-icon name="add"></ion-icon></button>
      <button color="primary" ion-fab (click)="closeFab(fab);getServicesClient()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
