page-services-client {
  & .title-card {
    font-weight: bold;
  }
  & .card-services {
    margin: 0px 0px 5px 0px;
    width: 100%;
  }
  & .bg-grey {
    background: #eeeeee;
  }
  & .card-title-page {
    width: 100%;
    height: 190px;
    background-image: url("../assets/img/material-wallpaper3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0%;
    position: relative;
    transition: all .8s ease;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $cl-google;
      opacity: 0;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
    }
    & .card-title {
      position: absolute;
      color: white;
      font-size: 24px;
      left: 10%;
      bottom: 5px;
    }
  }
  .card-title-page-hidden {
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease;
    &:before {
      opacity: 1;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
    }
  }
  @extend %super-bar;
  .hiddenEfect {
    -webkit-animation: hiddeTransition 0.4s;
    -o-animation: hiddeTransition 0.4s;
    animation: hiddeTransition 0.4s;
    transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  @-webkit-keyframes hiddeTransition {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  .scaleEfect {
    -webkit-animation: scaleTransition 0.4s;
    -o-animation: scaleTransition 0.4s;
    animation: scaleTransition 0.4s;
    transform: scale(1);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  @-webkit-keyframes scaleTransition {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
}
