page-services-user {
    & .title-card
    {
        font-weight: bold;
    }
    & .card-services
    {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }
    & .bg-grey
    {
        background: #eeeeee;
    }
}
