<!--
  Generated template for the ServicesUser page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="custom-navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Servicios Trabajador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">

  <ion-card class="card-services" *ngFor='let item of services_data'>
    <ion-item *ngIf="item.id_carpenter != null">
      <ion-avatar item-left>
        <img src="{{item.carpenter_path_image}}">
      </ion-avatar>
      <h2>{{item.name_carpenter}}</h2>
      <p>{{item.lastname_carpenter}}</p>
    </ion-item>
    <ion-card-header>
      <h1 class="title-card">{{item.name_specialty}}</h1>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.created_date|date:'MMM d, y hh:mm:ss a':'+0000'}}</p>
    </ion-card-content>
  </ion-card>


  <ion-fab right bottom #fab>
    <button ion-fab color="cl-google"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button color="danger" ion-fab (click)="closeFab(fab)"><ion-icon name="add"></ion-icon></button>
      <button color="primary" ion-fab (click)="closeFab(fab);getServices()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
