page-home-app {
  & .personal-grid {
    height: 100%;
    & .row {
      height: 100%;
    }
  }
  & .cont-img-user {
    & .img-user {
      position: relative;
      width: 200px;
      height: 200px;
      display: block;
      margin: 0 auto;
      & .avatar-user {
        width: 200px;
        height: 200px;
        margin: 0 auto;
      }
    }
    & .name-user {
      font-size: 30px;
      text-align: center;
    }
    & .note-user {
      text-align: center;
      color: #757575;
      font-weight: 500;
    }
    & .button-user {
      display: block;
      margin: 0 auto;
      margin-top: 60px;
    }
  }
}
