<!--
  Generated template for the HomeApp page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content *ngIf="viewContHomeApp">
  <ion-grid class="personal-grid">
    <ion-row align-items-center justify-content-center>
      <ion-col class="cont-img-user" col-12>
        <div class="img-user">
          <img class="avatar-user" src="../assets/img/ica-slidebox-img-3.png" alt="">
        </div>
        <h1 class="name-user">¡Hola!</h1>
        <p class="note-user">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nihil at officiis.</p>
        <button class="button-user" ion-button color="light" (click)="goToPrimaryView()">COMENZAR</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
