<!--
  Generated template for the ContinueLogin page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
  <ion-grid class="personal-grid">
    <ion-row align-items-center justify-content-center>
      <ion-col class="cont-img-user" col-12>
        <div class="img-user">
          <img class="avatar-user" [src]="user_profile.path_image" alt="">
          <img class="scale-efect icon-on-avatar" src="../assets/img/ingeneo.png" alt="">
        </div>
        <h1 class="name-user">¡Hola {{user_profile.name}}!</h1>
        <p class="note-user">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut!</p>
        <button class="button-user" ion-button color="primary" (click)="continueView()">Continuar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
