page-continue-login {
  & .scale-efect {
    -webkit-animation: scaleEfect 2s ease-in-out infinite alternate;
    -o-animation: scaleEfect 2s ease-in-out infinite alternate;
    animation: scaleEfect 2s ease-in-out infinite alternate;
    transform: scale(1);
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  @-webkit-keyframes scaleEfect {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }
  & .personal-grid {
    height: 100%;
    & .row {
      height: 100%;
    }
  }
  & .cont-img-user {
    & .img-user {
      position: relative;
      width: 90px;
      height: 90px;
      display: block;
      margin: 0 auto;
      & .avatar-user {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: 0 auto;
      }
      & .icon-on-avatar {
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-radius: 50%;
        background: white;
        padding: 3px;
        width: 30px;
        height: 30px;
      }
    }
    & .name-user {
      font-size: 24px;
      text-align: center;
    }
    & .note-user {
      text-align: center;
      color: #9e9e9e;
      font-weight: 500;
    }
    & .button-user {
      display: block;
      margin: 0 auto;
    }
  }
}
